$backgroundColor: #121212;
$surfaceColor: #121212;
$primaryColor: #BB86FC;
$primaryVariantColor: #3700B3;
$secondaryColor: #03DAC5; 
$errorColor: #CF6676;
$onPrimaryColor: #000000;
$onSecondaryColor: #000000;
$onBackgroundColor: #FFFFFF;
$onErrorColor: #000000;